.carousel {
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;

    .arrow {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3rem;
        color: white;
        position: absolute;
        z-index: 10;
        border-radius: 1000px;
        background-color: $asphalt-dark;
        opacity: 50%;
        height: 3rem;
        width: 3rem;
    }

    .arrow-left {
        left: 1rem;
        top: 50%;
    }

    .arrow-right {
        right: 1rem;
        top: 50%
    }
}

.holder {
    width: 300%;
    display: flex;
    transition: transform 0.3s ease-out;
}

.animate {
    transition: transform 0.3s ease-out;
}

.slide {
    flex: 1;
    display: flex;
    position: relative;
    background-color: $asphalt-mid;
    font-family: $text-font-stack;
    height: 100vh;
    align-items: center;

    @include element(description) {
        flex: 4;
        padding: 3rem 6rem;
        color: $asphalt-light;
        font-size: 1.4rem;
    }

    @include element(image) {
        flex: 4;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
    }

    @include element(tech-stack) {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        right: 4.5rem;
        bottom: 2rem;
        color: $asphalt-light;
        background-color: rgba(0,0,0, 0.5);
        padding: 20px 40px;
        border-radius: 30px;
    }

}

.tech-item {
    display: flex;
    align-items: center;
    padding: 1rem 0;

    @include element(name) {
        padding-right: 2rem;

    }

    @include element(icon) {
        border-radius: 10000px;
        height: 3.5rem;
        width: 3.5rem;
    }
}