.header {
  background: $brand-colour;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $background-colour;
  position: relative;

  @include element(title) {
    font-size: 8rem;
    font-weight: 300;
  }
  
  @include element(sub-title) {
    font-size: 1.4rem;
    font-weight: 300;
  }
  
  @include element(button) {
    @include button_basic($background-colour, $bold-colour);
    margin-top: 30px;
  }
}

.nav {
  font-size: 1.5rem;
  position: absolute;
  top: 20px;

  @include element(link) {
    color: inherit;
    padding: 5px 20px;

    &:hover {
      color: inherit;   
      text-decoration: underline;
    }
  }

}



