.social-links {
    display: flex;
    justify-content: space-between;

    .social-links__link {
        margin: 0.5rem;
        .social-links__icon {
            width: 60px;
            border-radius: 1000px;
        }
    }
}