
.container {
    display: flex;
    justify-content: center;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 960px;
    min-height: 100vh;
}

.footer-wrapper {
    background-color: $amethyst-dark;
}