.header {
  background: $brand-colour;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $background-colour;
  position: relative;

  @include element(title) {
    font-size: 7rem;
    font-weight: 300;
  }
  
  @include element(sub-title) {
    font-size: 1.3rem;
    font-weight: 300;
  }
  
  @include element(button) {
    background: $bold-colour;
    color: $background-colour;
    border: none;
    border-radius: 1000px;
    font-size: 1.4rem;
    font-weight: 400;
    padding: 6px 60px;
    margin-top: 30px;
    transition: 400ms;

    &:hover {
      background-color: darken($bold-colour, 4%);
    }
  }

}

.nav {
  font-size: 1.5rem;
  position: absolute;
  top: 10px;

  @include element(link) {
    color: inherit;
    padding: 5px 10px;

    &:hover {
      text-decoration: underline;
    }
  }

}



