
/// Regular font family
/// @type List
$text-font-stack: 'Montserrat', sans-serif;

/// Copy text colour
/// @type Color
$text-colour: #333333;

/// Main brand colour
/// @type Color
$brand-colour: #34495E;

/// @type Color
$asphalt-dark: #283747;

/// @type Color
$asphalt-mid: #85929E;

/// @type Color
$asphalt-light: #ebedef;

/// @type Color
$amethyst-dark: #76448A;

/// @type Color
$amethyst-mid: #AF7AC5;

/// @type Color
$amethyst-light: #F5EEF8;

///@type Color
$background-colour: #ebedef;

/// @type Color
$bold-colour: #CD00B9;


/// Breakpoints map
/// @prop {String} keys - Keys are identifiers
/// @prop {Map} values - breakpoint values
$breakpoints: (
    'small': 320px,
    'medium': 768px,
    'large': 1024px,
);

:export {
    textColour: $text-colour;
    brandColour: $brand-colour;
    amethystDark: $amethyst-dark;
    amethystMid: $amethyst-mid;
    amethystLight: $amethyst-light;
    asphaltDark: $asphalt-dark;
    asphaltMid: $asphalt-mid;
    asphaltLight: $asphalt-light;
    backgroundColour: $background-colour;
    boldColour: $bold-colour;
}